* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid{
    display: grid;
    grid-template-columns:13.5% 1fr 1fr 1fr;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "sidebar content content content"
    "footer footer footer footer";
}
.navbar {
    grid-area: navbar;
    display: grid;
    min-height: 50px;
    grid-auto-flow: column;
    grid-gap: 10px;
    background-color: rgb(171, 235, 235);    
    border: 2px solid blueviolet;
}
 .navbar nav a{
    color:black;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    
}
.navbar nav a:hover{
    background-color: rgb(148, 233, 148);
    font-weight: bold;
}
.navbar nav{
    display: grid;
    grid-auto-flow: column;
 }
 
.dropbtn {
    color: black;
    
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(189, 123, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(148, 233, 148);}
  
.sidebar{
    grid-area:sidebar;
    border: 5px solid rgb(171, 235, 235);
    padding-top: 0px;
    padding-bottom: 1.5em;
    height: 100%;
    width: 100%;
    
}
.content{

    grid-area: content;
    height: 100%;
    width: 100%;
   
    
}
.content img{
    height: 100%;
    width: 100%;
   
}
.text{
 position: relative;
 margin-top: -60%;
 margin-left: 10em;
 text-decoration-line: underline;
}
.btn{
    position: relative;
    margin-top: 40%;
    margin-left: 70%;
}
.btn button{
    padding: 1em 1em;
    border-radius: 1em ;
    border-color: black;
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(171, 235, 235);
}
.sidebar img{
    height: 10em;
    width: 10em;
    padding-bottom: 1em;
}
.sidebar p {
    padding: 1em 1em;
}
.footer{
    grid-area: footer;
    text-align: center;
    background-color: aquamarine;
    min-height: 20px;
    padding: 10px 10px;
}